body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: rgb(244, 194, 202);
}


.cakes-design {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the minmax values as needed */
  gap: 10px; /* Gap between grid items */
  border: solid;
  text-align: center;
  padding: 10px;
  background-color:#FFF8F0;
}

.button {
  width: 70%;
  height: 240;
  text-decoration: underline;
  border: solid;
}

.averagerating {
  text-align: center;
}

.title-section {
  text-align: center;
}
